@import url('https://fonts.googleapis.com/css2?family=Open+Sans@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

@font-face {
    font-family: 'Spider Man';
    src: url('./fonts/The Amazing Spider-Man.ttf') format('truetype');
}

.h1-principal {
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-left: 2em; */
    color: aliceblue;
    padding-bottom: .25em;
    margin: auto;
}

.logo {
    width: 15%;
    margin-right: 1em;
    margin-left: 2em;
}

.div-h1-principal-logo {
    display: flex;
    justify-content: space-around;
}

.header-principal {
    background-color: rgb(181, 1, 1);
    box-shadow: 2px 2px 15px black;
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 5em;
    z-index: 999;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-fundo {
    width: 100%;
    position: relative;
}

.div-links {
    display: flex;
    margin-top: 1.6em;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h3-link:first-child {
    margin-left: 2em;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    transform: scale(1.1);
    transition: .25s ease-out;
    color: #daa520
}

.h1-content {
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: 'Spider Man';
    font-size: 5em;
    top: 20%;
    left: 1em;
    /* background-color: #daa520; */
    width: 7em;
    color: #daa520;
    text-shadow: 2px 2px 2px black;
}

.div-content {
    position: relative;
}

.div-h1-content {
    display: flex;
    justify-content: center;
}
